<div class="container">
    <div class="row">
        <div class="col-md-12">
    <h3 class="mt-2">Name:{{userdetail.Name}}</h3>
    </div>
    <div>
    
    <h3 class="mt-2">Email:{{userdetail.Email}}</h3>

    </div>
    </div>

    
</div>
</div>