<section>
    <div class="container mt-5">
    <div class="row">
        {{#each products}}
        <div class="col-md-3 p-3">
            <div class="card" style="width: 14rem; height: 28rem;  ">
   <img class="card-img-top" src="/product-images/{{this.productdetail._id}}.jpg" alt="Card image cap " style="height: 13rem; ;">
  <div class="card-body">
    <h5 class="card-title">{{this.productdetail.Name}}</h5>
        <p class="card-text">{{this.productdetail.Category}}</p>
        <p class="card-text">Rs.{{this.productdetail.Price}}</p>

        
  </div>
</div>

        </div>
        {{/each}}
    </div>
    </div>
</section>


